<%= render 'pages/home' unless user_signed_in? %>
<div id="pins" class="transitions-enabled">
  <% @pins.each do |pin| %>
    <div class="box panel panel-default">
      <%= link_to image_tag(pin.image.url(:medium), class: 'homepage_pins img-responsive'), pin %>
      <div class="panel-body">
        <p><strong><%= pin.description %></strong></p>
        <hr>
        <span class="glyphicon glyphicon-user"></span> <%= pin.user.email if pin.user %>
        <% if pin.user == current_user %>
        <p>
          <%= link_to edit_pin_path(pin), class: "pull-right" do %>
          <hr>
          <span class="glyphicon glyphicon-edit"></span> Edit
          <% end %>

        </p>
        <% end %> <!-- end of current user functionality -->
      </div> <!-- end of panel body -->
    </div> <!-- end of panel -->
  <% end %> <!-- end of pins loop -->
</div> <!-- end of masonry class -->
<%= will_paginate @posts, class:"pull-right" %>
